
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{

    height: 100dvh;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;  */
    margin: 0;
    padding: 50px;
    /* justify-content: center; */
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}

nav, #navbar {
    display: flex;
}

nav{
    justify-content: space-between;
    /* align-items: center; */
    height: 17vh;
}

#navbar{
    /* display: flex; */
    font-size: 1.3rem;
    list-style-type: none;
    justify-content: right;
    gap: 10px;
    padding-bottom: 30px;
   
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

#hamburger-nav {
    display: none;

}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav{
       display: flex; 
    }
}


a {
    color:black;
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* TRANSITION */
a, btn {
    transition: all 300ms ease;
}


#firstsection{
    /* display: inline-block; */
    display: flex;
    
    /* flex-flow: row; */
    /* flex-direction: row; */

    align-items:center;
    justify-content: space-evenly;
    padding: 30px;

    padding-left: 100px;
    


    h1{
    font-size: 100px;
    text-align: left;
  
    /* align-self: flex-start; */
    }

    h2{
    position:absolute;
    left: 50px;
    padding-left: 200px;
    /* vertical-align: top; */
    align-self: flex-start;
    /* justify-self: left; */
    
    }

    #graphic{
        /* float: right; */
    /* display: flex; */
    height: auto;
    /* max-width: 100%; */

    
    /* height: 400px;
    width: 400px; */
    /* padding-bottom: 70px; */
    /* justify-content:center ; */
    /* margin: auto; */
   
/* vertical-align: middle; */
    /* align-self: center; */
    /* border-radius: 20px; */
    }

}

#project-container{
    /* position:relative; */
    margin: 0 10rem;
    box-sizing: border-box;
    /* min-height: fit-content; */
    /* display: flex; */
    justify-items: center;
    /* flex-direction: row; */
    /* align-content: space-between; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* margin: 10px;
   
    font-size: large; */
    /* align-items: center; */
    /* justify-content: center; */
     padding: 50px;
}

.experience-details-container {
    align-items: center;
    
    
    
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    height: 300px;
    width: 300px;
}
 
.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.project-img {
     
    
        border-radius: 3rem;
        height: 100px;
        width: 100px;
        /* margin: 10px; */
        padding: 40px;

}

.project-title{
    color: aqua;
    margin: 1rem;
}

.project-btn{
    color: aquamarine;
    border-color: black;
    padding: 1rem;
    width: 8rem;
}

.color-container {
    border-style: solid;
    border-radius: 15px;
    border-color:rgb(12, 12, 12);
    background-color: rgb(255, 255, 255);
}

#bio{
    justify-items: center;
    text-align: left;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;


  img{
    border-radius: 15px;
    height: 350px;
    width: auto;

  }

  bio-title {
    justify-self: flex-start;
  }

}



h2{
    font-size: medium;

}


