
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    height: 100vh;
    /* align-items: center;  */
    margin: 0;
    padding: 50px;
    /* justify-content: center; */
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;

}


#navbar{
    display: flex;
    list-style-type: none;
    justify-content: right;
    gap: 10px;
    padding-bottom: 30px;

}

#firstsection{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 50px;

    #graphic{
    height: 300px;
    width: 300px;
    align-self: center;
    border-radius: 20px;
    }

}

#project-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px;
    padding: 40px;
    font-size: large;
    align-items: center;
    justify-content: center;
    
    img{
        height: 100px;
        width: 2px;
        margin: 25px;
    }

    h1{
        display: flex;
    
        padding: 20px;
        margin: auto;
       
        position: absolute;
        top: 53%;
    }
}

#bio{
    justify-items: center;
    text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  

}


h1{
    font-size: 40px;
}

h2{
    font-size: small;

}



